[Desktop Entry]
Encoding=UTF-8
Name=Link para file:///home/senac/Documentos/senac-tat/README.md
Type=Link
URL=file:///home/senac/Documentos/senac-tat/README.md
Icon=text-markdown
